<%= render layout: 'layouts/error' do |f| %>
  <h1 class='primary-color-text'>No Results Found</h1>
  <p>
    The page you were looking for doesn't exist.
    You may have mistyped the address, or the page may have moved.
    Try refining your search, or use the navigation above to locate the requested URL.
  </p>
  <p>
    If you are the application owner check the logs for more information.
  </p>
<% end %>
