<%= render layout: 'layouts/error' do |f| %>
  <h1 class='primary-color-text'>Internal error</h1>
  <p>
    The server encountered an internal error or misconfiguration and was unable to complete your request.
    Please contact the server administrator and inform him of the time the error occurred and anything you
    might have done that may have caused the failure.
  </p>
  <p>
    If you are the application owner check the logs for more information.
  </p>
<% end %>
