.menu-range {

  div.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .float-menu {
    padding: 10px 10px 0px 10px;
    width: 280px !important;
    overflow-y: visible;
    z-index: 1;
    opacity: 1;

    &.open {
      display: block !important;
      left: calc(100% - 300px);
    }

    &.close {
      display: none !important;

    }
  }
}
