body {
  &.light {
      background-color: #fff;
  }

  &.dark {
    background-color: #141414;

    ul.side-nav {
      background-color: #141414;

      li > a {
        color: #d8d9da;
      }
    }
  }

  &.light div#fsSection {
    background-color: #fff;
  }

  &.dark div#fsSection {
    background-color: #141414;
  }

  div#fsSection {
    /* normal state support for Safari */
    width: 100%;
    height: 100%;

    &.fullscreen {
      overflow-y: scroll;
    }

    img.fs-logo {
      display: none;
      width: 8%;
      opacity: 0.6;
      position: fixed;
      right: 20px;
      bottom: 15px;
      z-index: 999;

      &:hover {
        opacity: 0;
      }
    }
  }
}

.dashboard-controls {
  .controls-entry {
    margin: 0;
    padding: 0 0.3rem;
    position: relative;

    &.more-vert {
      cursor: pointer;

      span a {
        display: flex;
        height: 35px;
        line-height: 35px;
        color: $secondary-color;

        i {
          height: 35px;
          line-height: 35px;
        }

        &:hover {
          background-color: rgba($primary-color, 0.71);
          color: white;
        };
      }
    }
  }
}
