// Place all the styles related to the widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recharts-layer.recharts-reference-line {
  font-weight: lighter;
}

.widget-form-container {

  display: flex;
  flex-flow: column;
  height: calc(100vh - 101px);

  .widget-graph {
    height: 300px;
  }

  .widget-form {
    flex-grow: 1;

    li.close_button a {
      padding: 10px;
    }
  }
}
