// Place all the styles related to the widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recharts-layer.recharts-reference-line {
  font-weight: lighter;
}

.widget-form-container {

  display: flex;
  flex-flow: column;
  height: calc(100vh - 101px);

  .widget-graph {
    min-height: 300px;
    display: table;
    position: relative;

    .preview-text {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 2rem;
    }
  }

  .widget-form {
    flex-grow: 1;

    li.close_button a {
      padding: 10px;
    }

    // Override css for outlined inputs
    input[type=text]:not(.browser-default) {
      margin: 0;
      border-bottom: none;
      box-shadow: none;
      padding: 0 14px;
    }
  }
}
